# HW 1

In [8]:
import pandas as pd
import altair as alt
import seaborn as sns
import matplotlib.pyplot as plt
from vega_datasets import data

## Explore the data

In [15]:
df = pd.read_csv('data.csv')

In [28]:
df

       city         lon        lat month  monthnum  sunshine
0   Chicago  -87.623177  41.881832   Jan         0       135
1   Chicago  -87.623177  41.881832   Feb         1       136
2   Chicago  -87.623177  41.881832   Mar         2       187
3   Chicago  -87.623177  41.881832   Apr         3       215
4   Chicago  -87.623177  41.881832   May         4       281
..      ...         ...        ...   ...       ...       ...
67  Seattle -122.335167  47.608013   Aug         7       281
68  Seattle -122.335167  47.608013   Sep         8       221
69  Seattle -122.335167  47.608013   Oct         9       142
70  Seattle -122.335167  47.608013   Nov        10        72
71  Seattle -122.335167  47.608013   Dec        11        52

[72 rows x 6 columns]

In [16]:
len(df)

72

In [17]:
df.columns

Index(['city', 'lon', 'lat', 'month', 'monthnum', 'sunshine'], dtype='object')

In [18]:
df['city'].value_counts()

Chicago          12
Houston          12
Miami            12
New York         12
San Francisco    12
Seattle          12
Name: city, dtype: int64

Let's plot average sunshine yearlong over a map, and subset plots of time according to each

In [61]:
states = alt.topo_feature(data.us_10m.url, feature='states')

# US states background
background = alt.Chart(states).mark_geoshape(
    fill='lightgray',
    stroke='white'
).properties(
    width=500,
    height=300
).project('albersUsa')

points = alt.Chart(df).transform_aggregate(
    latitude='mean(lat)',
    longitude='mean(lon)',
    avg_sunshine='mean(sunshine)',
    groupby=['city']
).mark_circle().encode(
    longitude='longitude:Q',
    latitude='latitude:Q',
    size=alt.Size('avg_sunshine:Q', title='average sunshine [hr/month]'),
    color='city',
    tooltip=['city:N','avg_sunshine:Q']
).properties(
    title='Average Sunshine Across 6 US Cities'
)

text = alt.Chart(df).transform_aggregate(
    latitude='mean(lat)',
    longitude='mean(lon)',
    avg_sunshine='mean(sunshine)',
    groupby=['city']
).mark_text(dx=-15, dy=3, color='black').encode(
    longitude='longitude:Q',
    latitude='latitude:Q',
    text=alt.Text('avg_sunshine:Q', format='.1f'),
)

mapplot = background + points + text
mapplot

alt.LayerChart(...)

In [62]:
bar = alt.Chart(df).mark_line().encode(
    x=alt.X('monthnum:O', axis=alt.Axis(title='Month [0:Jan-11:Dec]')),
    y=alt.Y('sunshine:Q', axis=alt.Axis(title='sunshine [hr/month]')),
    color='city:N'
).properties(title='Sunshine in 6 US Cities Over a Year')

In [63]:
mapplot | bar

alt.HConcatChart(...)